@model IEnumerable<AI.Models.Post>

@{
    var allowNSFW = ViewBag.nsfw;
}

@foreach (var post in Model)
{
    <div>
        <h2 class="title">@Html.RouteLink(post.Title, "Beng", new { id = post.Id })</h2>
        
        <a href="/beng/@post.Id">
            @Helper.PostImg(post.ImgName, post.NSFW && !allowNSFW)
        </a>
        <div class="Score" id="@post.Id">
            @Html.Partial("_Score", post)
        </div>
        </div>
}