@model IEnumerable<SI.Models.Post>

@foreach (var post in Model)
{
    <div>
        <h2 class="title">@Html.ActionLink(post.Title, "Details", "Post", new { id = post.Id }, null)</h2>

        <a href="/Post/Details/@post.Id">
            @Helper.PostImg(post)
        </a>
        <hr />
</div>
}